{% extends 'base.html.twig' %}

{% block title %}New MvtBonsValide{% endblock %}

{% block body %}
    <h1>Create new MvtBonsValide</h1>

    {{ include('mvt_bons_valide/_form.html.twig') }}

{% endblock %}
